[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lpc"]
	path = lpc
	url = https://github.com/cran/lpc
[submodule "scout"]
	path = scout
	url = https://github.com/cran/scout
